.search-row {
    position: absolute;
    top: 8px;        /* place it near top */
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    border-radius: 50px;
    display: flex;
    align-items: center;
}
.search-input {
    flex: 1;
    max-width: 400px;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
}
.filter-btn {
    background: #F4B942;
    border: none;
    color: #EEF2F1;
    padding: 0.5rem 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
    border-radius: 4px;
}
.buddy-grid-container {
    margin: 2rem;
}
.buddy-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    overflow: visible;
}
.buddy-card {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    transform-origin: center center;
    transition: transform 0.5s ease;
}
.buddy-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    overflow: hidden;
}
.buddy-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    color: #EEF2F1;
    display: flex;
    align-items: center;
    text-align: center;
    font-style: oblique;
    opacity: 0;                    /* hidden by default */
    transition: transform 0.3s ease, opacity 0.5s ease;
}
.buddy-card:hover .buddy-info {
    transform: translateY(0);
    opacity: 0.7;
    pointer-events: auto;
    border-radius: 20px;
    z-index: 10;
}

.buddy-request-btn {
    margin-top: 0.5rem; /* some spacing */
    background-color: #F4B942;
    color: #242F40;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 4px;
}
.buddy-request-btn:hover {
    background-color: #e0a62f; /* a slightly darker shade on hover */
}