/* Background & Font */
body {
    background-color: #fff !important;
    font-family: "Montserrat", sans-serif;
}

/* Sidebar */
/* 1) Generic rule for sidebar items, except the add-event-btn */
.col-md-3 .list-group-item:not(.add-event-btn) {
    background-color: #6B9AC4;
    color: #fff;
    border: none;
    border-radius: 4px;
  }
  .col-md-3 .list-group-item:not(.add-event-btn):hover {
    background-color: #466f8d;
  }
  
  /* 2) Specific rule for add-event-btn */
  .add-event-btn {
    background-color: #F4B942;
    color: #fff;
    border: none;
    border-radius: 4px;
  }
  .add-event-btn:hover {
    background-color: rgb(219, 157, 49);
    color: #fff;
  }

  .col-md-3 .list-group-item.active {
    background-color: #466f8d;
}

  /* Alternate backgrounds for listed events */
.events-list .list-group-item:nth-child(odd) {
    background-color: #6B9AC4;
    color: #fff;
  }
  .events-list .list-group-item:nth-child(even) {
    background-color: #97D8C4;
    color: #000;
  }


  /* Join/Leave/Delete button styles */
  /* Join buttons */
.btn-primary {
    background-color: #F4B942 !important;
    border: none;
  }
  
  /* Leave buttons */
  .btn-warning {
    background-color: #9f5c03 !important;
    border: none;
  }
  
  /* Delete buttons */
  .btn-danger {
    background-color: #9f5c03 !important;
    border: none;
  }