/* Carousel image */
.carousel-item img {
    max-height: 400px;
    object-fit: cover;
    width: 100%;
  }
  
/* Adjusting background colour*/
body {
    background-color: #6B9AC4 !important;
    font-family: "Montserrat", sans-serif;
  }

/*Event in Home page hover effect */
.next-event-link {
  display: block; 
  transition: transform 0.3s ease;
}
.next-event-link:hover {
  transform: scale(1.05);
}