/* Carousel image */
.carousel-item img {
    max-height: 400px;
    object-fit: cover;
    width: 100%;
  }

/* Log out hover effect */
.logout-hover {
  background-color: #F4B942; /* Hover color */
  transition: background-color 0.3s; /* Smooth transition */
  border-radius: 5px; /* For roundness of the square edges*/
}

/* Adjusting background colour*/
body {
    background-color: #6B9AC4 !important;
  }