{% extends "base.html" %}
{% load static %}
{% block title %}
Buddy-up
{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/buddyup.css' %}">
{% endblock %}
{% block content %}


<!-- SEARCH BAR -->
<form id="buddySearchForm" class="mb-3">
    <div class="input-group">
        <input type="text" id="searchQuery" class="search-input" placeholder="Search...">
        <button class="btn btn-outline-secondary" type="submit">Search</button>
    </div>
</form>

<!-- SCROLLABLE BUDDY GRID CONTAINER -->
<div class="buddy-grid-container">
    <div class="buddy-grid" id="buddyGrid">
        {% for user in buddies %}
        <div class="buddy-card" data-buddy-id="{{ user.id }}">

            <!-- SETS A DEFAULT AVATAR IMAGE WHEN A USER CREATES A PROFILE AND UPDATES WHEN THE USER UPLOADS A PROFILE PICTURE -->
            <img src="{% if user.profile_picture %}{{ user.profile_picture.url }}{% else %}{{ MEDIA_URL }}profile_pictures/avatar.jpg{% endif %}" alt="{{ user.username }}">
            <p class="buddy-info">{{ user.username }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/buddyup.js' %}"></script>

<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous">
</script>

{% endblock %}
